<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Current Movies</title>
		<link href="style.css" rel="stylesheet">
	</head>
<body>
	<h1>Current Showings</h1>
	<table>
	<!--  filter options -->
	</table>
	<table>
	<tr>
		<td class="center">Movie</td><td class="center">Date</td><td class="center">Time</td><td class="center">Rating</td><td class="center">Run Time</td>
	</tr>
	<tr th:each="movie: ${movies}">
		<td id="border" th:text="${movie.movieName}"/><td id="border" th:text="${movie.movieShowDate}"/><td id="border" th:text="${movie.movieShowTime}"/>
		<td id="border" th:text="${movie.movieRating}"/><td id="border" th:text="${movie.movieTimeMinutes} + ' min'"/>
		<td><a href="reserve?">Reserve seats</a></td>
		<td th:switch="${user.userAccess}"><span th:case="Admin"><a href="editMovie?movie=${movie.movieId}">Edit</a></span><span th:case="Employee"><a href="edit">Edit</a></span></td>
	</tr>
	</table>
	<a href="index.html">Home</a>
	<a href="addCustomer">Create Account</a>
	<span th:switch="${user.userAccess}"><span th:case="Admin"><a href="editMovie?">Add Movie</a></span><span th:case="Employee"><a href="editMovie?">Add Movie</a></span></span>
</body>
</html>